/* ==========================================================================
   CSS for Customizer Custom Controls
   ========================================================================== */
#customize-control-button_padding_top, #customize-control-button_padding_right, #customize-control-button_padding_bottom, #customize-control-button_padding_left {
	width: 23%;
	clear: none;
	padding-right: 2%;
}
#customize-control-button_border_top, #customize-control-button_border_right, #customize-control-button_border_bottom, #customize-control-button_border_left, #customize-control-button_border_hover_top, #customize-control-button_border_hover_right, #customize-control-button_border_hover_bottom, #customize-control-button_border_hover_left, #customize-control-button_br_top, #customize-control-button_br_right, #customize-control-button_br_bottom, #customize-control-button_br_left {
	width: 23%;
	clear: none;
	padding-right: 2%;
}
#customize-control-button_box_shadow_hl .customize-control-title, #customize-control-button_box_shadow_vl .customize-control-title, #customize-control-button_box_shadow_br .customize-control-title, #customize-control-button_box_shadow_sp .customize-control-title {
	border: none;
	margin: 0;
	padding: 0;
}
#customize-control-button_box_shadow_hl .slider::before, #customize-control-button_box_shadow_vl .slider::before, #customize-control-button_box_shadow_br .slider::before, #customize-control-button_box_shadow_sp .slider::before {
	content: none;
}
/* ==========================================================================
   Standard Selection
   ========================================================================== */
.customize-control select, .select2-container--default .selection .select2-selection--single {
	border: none;
	background-color: #e3f2fd;
	position: relative;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	height: 38px;
	line-height: 38px;
	outline: none;
	color: #002962;
	font-size: 14px;
}
.wp-customizer .menu-item-bar .menu-item-handle {
	width: 100%;
	max-width: 100%;
	background: #e3f2fd;
}
.menu-item-bar .menu-item-handle {
	border: 1px solid #a4d8fe;
	position: relative;
	padding: 10px 15px;
	height: auto;
	min-height: 20px;
	max-width: 382px;
	line-height: 2.30769230;
	overflow: hidden;
	word-wrap: break-word;
}
.menu-item-depth-1,
.menu-item-depth-2 {
	margin-left: 0px;
}
.menu-item-depth-1>.menu-item-bar,
.menu-item-depth-2>.menu-item-bar {
	margin-right: 0px;
}
.menu-item-depth-1 .menu-item-handle {
	padding-left: 25px;
}
.menu-item-depth-2 .menu-item-handle {
	padding-left: 40px;
}
.menu-item-handle, .widget .widget-top {
	color: #002962;
}
.item-type {
	display: inline-block;
	padding: 12px 16px;
	color: #002962;
	font-size: 12px;
	line-height: 1.5;
}
.wp-customizer .select2-container--default .selection .select2-selection--multiple {
	border: none;
	background-color: #fcfcff;
	border-radius: 0;
	height: auto;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.wp-customizer .select2-container--default .select2-selection--multiple .select2-selection__rendered {
	width: 95%;
}
.wp-customizer .select2-container--default .select2-selection--multiple .select2-selection__clear {
	position: absolute;
	right: 0;
}
.wp-customizer .select2-container .select2-dropdown {
	z-index: 900000;
}
.customize-control select:active, .customize-control select:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* ==========================================================================
   Standard Input
   ========================================================================== */
input[type="text"], input[type="number"], input[type="url"], input[type="email"], input[type="date"] {
	width: 100%;
	background: #004e89;
	box-shadow: 0 1px 2px #004e89 inset, 0 1px 0 rgba(0, 78, 137, 0.05);
	-webkit-box-shadow: 0 1px 2px #004e89 inset, 0 1px 0 rgba(0, 78, 137, 0.05);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	border: none;
	color: #fff;
	height: 40px;
	line-height: 34px;
	padding: 0 10px;
	font-size: 14px;
}
input[type="text"]:active, input[type="text"]:focus, input[type="number"]:active, input[type="number"]:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
/* ==========================================================================
   Simple Notice
   ========================================================================== */
.simple-notice-custom-control .customize-control-description {
	line-height: 1.6
}
.simple-notice-custom-control code {
	font-size: 90%;
	padding: 2px 4px;
}
/* ==========================================================================
   Textarea/TinyMCE
   ========================================================================== */
.tinymce-control textarea {
	width: 100%;
	padding: 10px;
}
/* ==========================================================================
   Text Radio Buttons
   ========================================================================== */
.text_radio_button_control:after {
	content: " ";
	display: block;
	clear: both;
}
.text_radio_button_control .radio-buttons {
	display: inline-block;
	border: 1px solid #f9f9fe;
}
.text_radio_button_control .radio-button-label {
	cursor: pointer;
	float: left;
}
.text_radio_button_control .radio-button-label>input {
	display: none;
}
.text_radio_button_control .radio-button-label span {
	cursor: pointer;
	font-weight: 500;
	border: 2px solid #f9f9fe;
	margin: 0;
	background-color: #eee;
	padding: 5px 15px;
	display: inline-block;
}
.text_radio_button_control .radio-button-label span:hover {
	background-color: rgba(255, 255, 255, .2);
	color: #2885bb;
}
.text_radio_button_control .radio-button-label>input:checked+span {
	background-color: #2084bd;
	color: #fff;
}
.text_radio_button_control .radio-button-label>input:checked+span:hover {
	color: #fff;
}
/* ==========================================================================
   Image Radio Buttons
   ========================================================================== */
.image_radio_button_control .radio-button-label>input {
	display: none;
}
.image_radio_button_control .radio-button-label>img {
	cursor: pointer;
	border: 3px solid #ddd;
	width: 46%;
}
.image_radio_button_control .radio-button-label>input:checked+img {
	border: 3px solid #2885bb;
}
/* ==========================================================================
   Image Checkboxes
   ========================================================================== */
.image_checkbox_control .checkbox-label>input {
	display: none;
}
.image_checkbox_control .checkbox-label>img {
	cursor: pointer;
	border: 3px solid #ddd;
}
.image_checkbox_control .checkbox-label>input:checked+img {
	border: 3px solid #2885bb;
}
/* ==========================================================================
   Pill Checkboxes
   ========================================================================== */
.pill_checkbox_control .checkbox-label>input {
	display: none;
}
.pill_checkbox_control .checkbox-label>.sortable-pill-title {
	box-sizing: border-box;
	cursor: pointer;
	background-color: #ddd;
	padding: 5px 15px;
	border-radius: 20px;
	font-size: 1rem;
	display: inline-block;
	margin-bottom: 5px
}
.pill_checkbox_control .sortable .checkbox-label>.sortable-pill-title {
	cursor: move;
}
.pill_checkbox_control .sortable.fullwidth_pills .checkbox-label>.sortable-pill-title {
	cursor: pointer;
}
.pill_checkbox_control .checkbox-label>input:checked+.sortable-pill-title {
	background-color: #2084bd;
	color: #fff;
}
.pill_checkbox_control .checkbox-label>input:checked+.sortable-pill-title:before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "dashicons";
	font-weight: normal;
	font-size: 24px;
	content: "\f147";
	margin-left: -10px;
	vertical-align: bottom;
}
.pill_checkbox_control .fullwidth_pills .checkbox-label>.sortable-pill-title {
	width: 100%;
	border-radius: 0;
}
.pill_checkbox_control .sortable.fullwidth_pills .checkbox-label>.sortable-pill-title {
	width: 90%;
}
.pill-ui-state-highlight {
	display: inline-block;
	padding: 5px 15px;
	border-radius: 20px;
	font-size: 1rem;
	border: 1px dotted #2084bd;
	margin-bottom: 5px;
	height: 16px;
}
.pill_checkbox_control .sortable_pills .pill-ui-state-highlight {
	width: 50px;
	border-radius: 20px;
}
.pill_checkbox_control .sortable_pills.fullwidth_pills .pill-ui-state-highlight {
	width: 90%;
	border-radius: 0;
}
.pill_checkbox_control .dashicons-sort {
	margin: 5px 0 0 1px;
	color: #d4d4d4;
	cursor: move;
}
.pill_checkbox_control .dashicons-sort:hover {
	color: #a7a7a7;
}
.pill_checkbox_control .sortable_pills.fullwidth_pills .ui-sortable-helper {
	width: calc(100% - 25px) !important;
}
/* ==========================================================================
   Slider
   ========================================================================== */
.slider-custom-control {
	margin-bottom: 30px;
}
.slider-custom-control input[type=number]::-webkit-inner-spin-button, .slider-custom-control input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.slider-custom-control input[type=number] {
	-moz-appearance: textfield;
}
.slider-custom-control .customize-control-title {
	display: inline-block;
}
.slider-custom-control input[type=number] {
	text-align: right;
	width: 50px;
	float: right;
}
.slider-custom-control .slider {
	width: 85%;
	float: left;
	margin: 20px 0 10px;
}
.slider-custom-control .slider-reset {
	float: right;
	cursor: pointer;
}
.slider-custom-control .slider-value {
	border: none;
	text-align: right;
	width: 50px;
	margin-right: 5px;
}
.slider-custom-control .slider-value, .slider-custom-control .slider-unit {
	float: right;
}
.slider-custom-control .ui-widget.ui-widget-content {
	border: 1px solid #f4f4f4;
}
.slider-custom-control .ui-corner-all, .slider-custom-control .ui-corner-bottom, .slider-custom-control .ui-corner-right, .slider-custom-control .ui-corner-br {
	border-bottom-right-radius: 3px;
}
.slider-custom-control .ui-corner-all, .slider-custom-control .ui-corner-bottom, .slider-custom-control .ui-corner-left, .slider-custom-control .ui-corner-bl {
	border-bottom-left-radius: 3px;
}
.slider-custom-control .ui-corner-all, .slider-custom-control .ui-corner-top, .slider-custom-control .ui-corner-right, .slider-custom-control .ui-corner-tr {
	border-top-right-radius: 3px;
}
.slider-custom-control .ui-corner-all, .slider-custom-control .ui-corner-top, .slider-custom-control .ui-corner-left, .slider-custom-control .ui-corner-tl {
	border-top-left-radius: 3px;
}
.slider-custom-control .ui-widget-content {
	background: #f4f4f4 none repeat scroll 0 0;
	color: #333;
}
.slider-custom-control .ui-slider-horizontal {
	height: 3px;
}
.slider-custom-control .ui-slider {
	position: relative;
	text-align: left;
}
.slider-custom-control .ui-state-default, .slider-custom-control .ui-widget-content .ui-state-default, .slider-custom-control .ui-widget-header .ui-state-default, .slider-custom-control .ui-button, .slider-custom-control .ui-button.ui-state-disabled:hover, .slider-custom-control .ui-button.ui-state-disabled:active {
	background: #2885bb none repeat scroll 0 0;
	border: 1px solid #2885bb;
	color: #454545;
	font-weight: normal;
}
.slider-custom-control .ui-slider-horizontal .ui-slider-handle {
	margin-left: -7px;
	top: -7px;
	border-radius: 50%;
}
.slider-custom-control .ui-slider .ui-slider-handle {
	cursor: pointer;
	height: 14px;
	position: absolute;
	width: 14px;
	z-index: 2;
}
.slider-custom-control .dashicons-image-rotate {
	margin-top: 10px;
	color: #d4d4d4;
	size: 16px;
}
.slider-custom-control .dashicons-image-rotate:hover {
	color: #a7a7a7;
}
/* ==========================================================================
   Toggle Switch
   ========================================================================== */
.toggle-switch-control .customize-control-title {
	display: inline-block;
	border: none;
	margin: 0;
	padding: 0;
}
.toggle-switch {
	position: relative;
	width: 64px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	float: right;
}
.toggle-switch .toggle-switch-checkbox {
	display: none;
}
.toggle-switch .toggle-switch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #ddd;
	border-radius: 20px;
	padding: 0;
	margin: 0;
}
.toggle-switch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.toggle-switch-inner:before, .toggle-switch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 22px;
	padding: 0;
	line-height: 22px;
	font-size: 14px;
	color: white;
	font-family: Trebuchet, Arial, sans-serif;
	font-weight: bold;
	box-sizing: border-box;
}
.toggle-switch-inner:before {
	content: "ON";
	padding-left: 8px;
	background-color: #2885bb;
	color: #fff;
}
.toggle-switch-inner:after {
	content: "OFF";
	padding-right: 8px;
	background-color: #eee;
	color: #999;
	text-align: right;
}
.toggle-switch-switch {
	display: block;
	width: 16px;
	margin: 3px;
	background-color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 38px;
	border: 2px solid #ddd;
	border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}
.toggle-switch-checkbox:checked+.toggle-switch-label .toggle-switch-inner {
	margin-left: 0;
}
.toggle-switch-checkbox:checked+.toggle-switch-label .toggle-switch-switch {
	right: 0px;
}
/* ==========================================================================
   Sortable Repeater
   ========================================================================== */
.sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sortable input[type="text"] {
	margin: 5px 5px 5px 0;
	width: 80%;
}
.sortable div {
	cursor: move;
}
.customize-control-sortable-repeater-delete {
	color: #d4d4d4;
}
.customize-control-sortable-repeater-delete:hover {
	color: #f00;
}
.customize-control-sortable-repeater-delete .dashicons-no-alt {
	text-decoration: none;
	margin: 8px 0 0 0;
	font-weight: 600;
}
.customize-control-sortable-repeater-delete:active, .customize-control-sortable-repeater-delete:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.repeater .dashicons-sort {
	margin: 8px 5px 0 5px;
	color: #d4d4d4;
}
.repeater .dashicons-sort:hover {
	color: #a7a7a7;
}
/* ==========================================================================
   Single Accordion
   ========================================================================== */
.single-accordion-toggle {
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	padding: 10px 5px 5px 0;
	cursor: pointer;
}
.accordion-icon-toggle {
	font-size: 18px;
	margin-left: 5px;
	margin-top: 5px;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out;
}
.single-accordion-toggle-rotate .accordion-icon-toggle {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=-0.5);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: inline-block;
}
.single-accordion {
	display: none;
}
.single-accordion ul {
	margin: 0;
	padding: 0;
}
.single-accordion li {
	background-color: #e4e4e4;
	color: #888;
	width: 115px;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	text-align: center;
}
.single-accordion li i {
	margin-left: 5px;
}
/* ==========================================================================
   Alpha Color Picker
   ========================================================================== */
.customize-control-alpha-color .wp-picker-container .iris-picker {
	border-bottom: none;
}
.customize-control-alpha-color .wp-picker-container {
	max-width: 257px;
}
.customize-control-alpha-color .wp-picker-open+.wp-picker-input-wrap {
	width: 100%;
}
.customize-control-alpha-color .wp-picker-input-wrap input[type="text"].wp-color-picker.alpha-color-control {
	float: left;
	width: 195px;
}
.customize-control-alpha-color .wp-picker-input-wrap .button {
	margin-left: 0;
	float: right;
}
.wp-picker-container .wp-picker-open~.wp-picker-holder .alpha-color-picker-container {
	display: block;
}
.alpha-color-picker-container {
	border: 1px solid #dfdfdf;
	border-top: none;
	display: none;
	background-color: #fff;
	padding: 0 11px 10px;
	position: relative;
}
.alpha-color-picker-container .ui-widget-content, .alpha-color-picker-container .ui-widget-header, .alpha-color-picker-wrap .ui-state-focus {
	background: transparent;
	border: none;
}
.alpha-color-picker-wrap a.iris-square-value:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
}
.alpha-color-picker-container .ui-slider {
	position: relative;
	z-index: 1;
	height: 24px;
	text-align: center;
	margin: 0 auto;
	width: 88%;
	width: calc( 100% - 28px);
}
.alpha-color-picker-container .ui-slider-handle, .alpha-color-picker-container .ui-widget-content .ui-state-default {
	color: #777;
	background-color: #fff;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	position: absolute;
	z-index: 2;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	border: 1px solid #aaa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top: -2px;
	top: 0;
	height: 26px;
	width: 26px;
	cursor: ew-resize;
	font-size: 0;
	padding: 0;
	line-height: 27px;
	margin-left: -14px;
}
.alpha-color-picker-container .ui-slider-handle.show-opacity {
	font-size: 12px;
}
.alpha-color-picker-container .click-zone {
	width: 14px;
	height: 24px;
	display: block;
	position: absolute;
	left: 10px;
}
.alpha-color-picker-container .max-click-zone {
	right: 10px;
	left: auto;
}
.alpha-color-picker-container .transparency {
	height: 24px;
	width: 100%;
	background-color: #fff;
	background-image: url(../images/color-picker-transparency-grid.png);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0;
	margin-top: -24px;
}
@media only screen and (max-width: 782px) {
	.customize-control-alpha-color .wp-picker-input-wrap input[type="text"].wp-color-picker.alpha-color-control {
		width: 184px;
	}
}
@media only screen and (max-width: 640px) {
	.customize-control-alpha-color .wp-picker-input-wrap input[type="text"].wp-color-picker.alpha-color-control {
		width: 172px;
		height: 33px;
	}
}
/* ==========================================================================
   Alpha Color Picker & Standard Color Picker
   ========================================================================== */
.customize-control-color .wp-color-result, .customize-control-alpha-color .wp-color-result {
	box-shadow: none;
}
.customize-control-color .wp-color-result .wp-color-result-text, .customize-control-alpha-color .wp-color-result .wp-color-result-text {
	border-left: none;
}
.wp-picker-holder .iris-picker .iris-palette {
	box-shadow: none;
}
.wp-picker-container .iris-picker, .wp-picker-container .alpha-color-picker-container {
	border-radius: 0;
	border: none;
}
.wp-picker-container .alpha-color-picker-container {
	width: 233px;
}
/* ==========================================================================
   WPColorPicker Alpha Color Picker
   ========================================================================== */
.customize-control-wpcolorpicker-alpha-color .wp-color-result {
	box-shadow: none;
}
.customize-control-wpcolorpicker-alpha-color .wp-picker-input-wrap input[type="text"].wp-color-picker {
	float: left;
	width: 195px !important;
}
.customize-control-wpcolorpicker-alpha-color .wp-color-result .wp-color-result-text {
	border-left: none;
}
.customize-control-wpcolorpicker-alpha-color .iris-picker-inner .iris-slider, .customize-control-wpcolorpicker-alpha-color .iris-picker-inner .iris-alpha-slider, .customize-control-two-color-gradient .iris-picker-inner .iris-alpha-slider {
	width: 17.6px !important;
}
/* ==========================================================================
   Google Fonts Select
   ========================================================================== */
.google_fonts_select_control .google-fonts, .google_fonts_select_control .weight-style {
	margin-bottom: 10px;
}
/* ==========================================================================
   Upsell Section
   ========================================================================== */
#customize-theme-controls #accordion-section-upsell_section {
	display: block !important;
}
#customize-theme-controls .upsell-section-title {
	font-size: 14px;
	border-bottom: 1px solid #ddd;
	border-left: 4px solid #fff;
	transition: 0s color ease-in-out, 0s background-color ease-in-out, 0s border-color ease-in-out;
	margin: 0;
	padding: 0;
	position: relative;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#customize-theme-controls .upsell-section-title::after {
	position: absolute;
	top: 12px;
	right: 10px;
	z-index: 1;
	content: "\f345";
	font: normal 20px/1 dashicons;
	speak: none;
	display: block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
}
#customize-theme-controls .upsell-section-title a {
	display: block;
	padding: 12px 15px 15px;
	line-height: 21px;
	text-decoration: none;
}
/* RADIANTTHEMES CUSTOMIZER */
#customize-controls .customize-info .accordion-section-title, .notice, div.error, div.updated {
	background: #004e89;
	margin: 15px 15px 0 15px !important;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
#customize-controls .customize-info .customize-panel-description, #customize-controls .customize-info .customize-section-description, #customize-controls .no-widget-areas-rendered-notice, #customize-outer-theme-controls .customize-info .customize-section-description {
	background: #e3f2fd;
	border-top: 1px solid #999;
	color: #002962;
	margin: 0px 15px;
}
.panel-meta.customize-info .customize-panel-description {
	margin: 0px !important;
}
.wp-core-ui, #customize-controls .description, #customize-theme-controls .accordion-section-content {
	color: #000f1a;
}
#customize-theme-controls .customize-pane-child.accordion-section-content {
	padding: 15px;
}
.wp-full-overlay-sidebar {
	border: none;
}
.wp-full-overlay-sidebar-content {
	background-color: #90caf9;
}
.accordion-section {
	border: none;
}
#customize-header-actions {
	background-color: #212121;
	border: none;
	height: 75px;
	left: 100%;
	padding: 0;
	width: 100%;
}
.wp-full-overlay-sidebar .wp-full-overlay-sidebar-content, #customize-controls .customize-info.is-sticky, #customize-controls .customize-section-title.is-sticky {
	top: 0;
}
#customize-controls .customize-info.is-in-view, #customize-controls .customize-section-title.is-in-view {
	left: 15px;
	right: 15px;
	width: 270px!important;
	border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
}
body.adding-widget #available-widgets, #available-menu-items-search .accordion-section-title, #available-widgets-filter {
	top: 75px;
}
#customize-controls .customize-info.is-in-view .customize-section-back, #customize-controls .customize-section-title.is-in-view .customize-section-back {
	margin: 0 0 0 -15px;
}
#customize-header-actions .customize-controls-close {
	border: none;
	text-align: center;
	height: 45px;
	line-height: 45px;
	padding: 0;
	width: 45px;
	background: #3b3b3b;
	margin: 15px 0 0 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset, 0 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset, 0 1px 5px rgba(0, 0, 0, 0.2);
}
#customize-header-actions .customize-controls-close:before {
	top: 0;
	line-height: 45px;
	left: 0;
	color: #666;
}
#customize-header-actions .button-primary {
	border: none;
	position: absolute;
	height: 45px;
	line-height: 45px;
	width: 50%;
	text-align: center;
	right: 0;
	font-weight: bold;
	text-shadow: none;
	top: 15px;
	margin: 0;
	background: #2B5BDB ;
	font-size: 11px;
	text-transform: uppercase;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24) inset, 0 1px 3px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24) inset, 0 1px 3px rgba(0, 0, 0, 0.7);
}
.wp-core-ui .button-primary-disabled, .wp-core-ui .button-primary.disabled, .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary[disabled] {
	background-color: rgba(43, 91, 219, 0.7) !important;
	color: rgba(255, 255, 255, 0.78) !important;
	text-shadow: none !important;
}
#customize-header-actions .spinner {
	margin-right: 0;
}
#customize-header-actions .button-secondary {
	position: absolute;
	right: calc(50% + 15px);
	;
	width: calc(50% - 75px);
	padding: 0;
	text-align: center;
	height: 45px;
	line-height: 45px;
	margin: 0 !important;
	font-size: 11px;
	font-weight: bold;
	top: 15px;
	text-shadow: none;
	text-transform: uppercase;
	border: none;
	background: #766dcc;
	color: #fff;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24) inset, 0 1px 3px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24) inset, 0 1px 3px rgba(0, 0, 0, 0.7);
}
#accordion-section-themes, .customize-help-toggle {
	display: none !important;
}
#accordion-heading-global__logo .accordion-heading-inner {
	border: none;
	padding: 0;
	margin: 0;
}
#customize-theme-controls .accordion-section-title {
	font-size: 11px;
	margin: 0 15px 5px 15px;
	padding: 8px 15px 7px 15px;
	background: #e3f2fd !important;
	color: #002962;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset, 0 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset, 0 1px 5px rgba(0, 0, 0, 0.2);
}
.control-section .accordion-section-title::after, .customize-pane-child .accordion-section-title::after {
	top: calc(50% - 10px);
}
#customize-theme-controls .accordion-section-title::after {
	color: #002962;
}
#customize-controls .control-section .accordion-section-title:focus, #customize-controls .control-section .accordion-section-title:hover, #customize-controls .control-section .accordion-section-title:hover:after, #customize-controls .control-section.open .accordion-section-title, #customize-controls .control-section:hover>.accordion-section-title, #customize-theme-controls .control-section .accordion-section-title:focus::after, #customize-theme-controls .control-section .accordion-section-title:hover::after, #customize-theme-controls .control-section.open .accordion-section-title::after, #customize-theme-controls .control-section:hover>.accordion-section-title::after {
	color: #002962 !important;
}
#accordion-heading-global__logo {
	border: none;
	padding: 30px 15px 15px 15px;
}
#customize-controls .customize-info {
	border: none;
	position: relative;
}
#customize-controls .panel-meta {
	background: #004e89;
	border: none;
	text-align: right;
	padding-right: 0px;
	margin: 15px !important;
	height: 100%;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	display: grid;
	align-items: center;
}
#customize-controls .panel-meta.customize-info .accordion-section-title {
	margin: 0px !important;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	height: 45px;
	padding: 0px;
	background: none !important;
	text-align: right;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	position: absolute;
	top: 12px;
	right: 15px;
}
#customize-controls .customize-info .preview-notice, #customize-controls .control-section-themes .accordion-section-title span.customize-action, #customize-controls .customize-section-title span.customize-action {
	font-size: 14px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.5);
	line-height: inherit;
	display: inline-block;
	margin-top: 0px;
}
.customize-section-description-container .customize-section-title {
	background: #004e89;
	border: none;
	text-align: right;
	padding-right: 15px;
	height: 100%;
	margin: 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	display: flex;
	align-items: center;
}
.customize-section-description-container .customize-section-title .customize-section-back {
	margin: 0px 0 0 0;
}
.customize-section-description-container .customize-section-title h3 {
	padding: 0 0 0 0px;
	flex: auto;
}
#customize-controls .control-section-themes .accordion-section-title span.customize-action, #customize-controls .customize-section-title span.customize-action {
	display: block;
	margin: 0px 0 0px 0;
}
#customize-controls .customize-info .panel-title, #customize-controls .customize-pane-child .customize-section-title h3, #customize-controls .customize-pane-child h3.customize-section-title {
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	line-height: 24px;
}
#customize-controls .no-widget-areas-rendered-notice {
	margin: 0px 0px;
}
#customize-controls .customize-pane-child .customize-section-title .description.customize-section-description {
	margin: 0px;
	display: none !important;
}
#accordion-section-themes {
	display: block !important;
}
#customize-controls .customize-panel-back, #customize-controls .customize-section-back {
	border: none;
	background: transparent;
	z-index: 1;
}
#customize-controls .customize-panel-back:hover:before, #customize-controls .customize-section-back:hover:before {
	color: #fff;
}
.customize-panel-back::before, .customize-section-back::before {
	line-height: 45px;
	font-size: 32px;
	top: 0;
	color: #e3f2fd;
}
#customize-controls .customize-panel-back:hover:before {
	color: #fff;
}
#customize-theme-controls .control-section {
	border: none !important;
}
#customize-footer-actions {
	border: none;
	background: #212121;
	width: 300px;
}
.wp-full-overlay-footer .devices {
	background: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.wp-full-overlay-footer .devices button::before {
	color: #666;
}
.wp-full-overlay-footer .devices button:focus::before, .wp-full-overlay-footer .devices button:hover::before {
	color: #fff;
}
.wp-full-overlay-footer .devices button:hover {
	background: transparent;
}
.wp-core-ui .wp-full-overlay .collapse-sidebar {
	color: #666 !important;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
}
.wp-full-overlay .collapse-sidebar-arrow::before {
	background: transparent;
}
.wp-full-overlay .collapse-sidebar:focus .collapse-sidebar-arrow, .wp-full-overlay .collapse-sidebar:hover .collapse-sidebar-arrow {
	box-shadow: none;
	-webkit-box-shadow: none;
}
.wp-full-overlay-footer .devices button.active::before {
	color: #fff;
}
.wp-full-overlay-footer .devices button.active {
	border-bottom-color: #fff !important;
}
#customize-preview {
	background: #212121;
	padding: 75px 15px 15px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#customize-preview iframe {
	width: calc(100% - 15px);
	height: calc(100% - 90px);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset, 0 1px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset, 0 1px 5px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
#customize-header-actions .button-primary:hover, #customize-header-actions #publish-settings.button-primary:hover {
	background: #2651c3;
}
#customize-header-actions #publish-settings.button-primary {
	left: 100%;
	width: 45px;
	border-radius: 0 3px 3px 0;
	-webkit-border-radius: 0 3px 3px 0;
	background: #11338f;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24) inset;
}
.wp-full-overlay-sidebar {
	background: #212121;
}
.outer-section-open #customize-controls .wp-full-overlay-sidebar-content {
	background: #212121;
}
#customize-sidebar-outer-content {
	top: 75px;
}
#customize-controls #customize-notifications-area {
	top: 0;
	border: none;
	color: #999;
}
.attachment-media-view, .media-widget-preview.media_audio, .media-widget-preview.media_image {
	background: transparent;
}
.select2-container {
	width: 100% !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #002962 !important;
	line-height: 38px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 38px !important;
	position: absolute;
	top: 1px;
	right: 1px;
	width: 20px;
}
.select2-search--dropdown .select2-search__field {
	background: #e3f2fd;
	color: #000 ;
	font-size: 11px;
}
.select2-results__options li.select2-results__option {
    color: #fff;
}
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #004e89 !important;
}
.select2-dropdown {
    background-color: white;
    border: 1px solid #004e89;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}
.select2-dropdown {
	background-color: #004e89 !important;
}
.select2-container--open .select2-dropdown--below {
	border: none !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	border: none !important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #080808 !important;
	color: #fff !important;
}
.google-fonts {
	width: 66%;
	float: left;
	margin-right: 10px;
}
.weight-style {
	width: 30%;
	float: left;
}
.typography-align, .typography-transform, .typography-group div {
	display: inline-block;
	width: 100%;
	vertical-align: text-top;
	margin-bottom: 6px;
}
.typography-align label, .typography-transform label, .typography-size label, .typography-line-height label, .typography-letter-spacing label, .typography-margin-top label, .typography-margin-right label, .typography-margin-bottom label, .typography-margin-left label {
	float: left;
	height: 32px;
	line-height: 32px;
	width: 50%;
}
.typography-align select, .typography-transform select {
	float: right;
	width: 49% !important;
}
.typography-size input, .typography-line-height input, .typography-letter-spacing input, .typography-margin-top input, .typography-margin-right input, .typography-margin-bottom input, .typography-margin-left input {
	width: 25% !important;
}
.typography-size select, .typography-line-height select, .typography-letter-spacing select, .typography-margin-top select, .typography-margin-right select, .typography-margin-bottom select, .typography-margin-left select {
	float: right;
	width: 24% !important;
}
.customize-control-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	color: #002962;
	border-top: 1px solid #2e2e2e;
	margin: 15px 0 0 0;
	padding: 20px 0 5px 0;
}
.customize-panel-back, .customize-section-back {
	display: block;
	float: left;
	height: 71px;
	 padding: 0 0px 0 0; 
	margin: 0;
	background: #fff;
	border: none;display: flex;
	align-items: center;
	box-shadow: none;
	cursor: pointer;
	transition: color .15s ease-in-out,border-color .15s ease-in-out,background .15s ease-in-out;
}
.customize-screen-options-toggle {
	background: 0 0;
	border: none;
	color: #e3f2fd;
	cursor: pointer;
	margin: 0;
	padding: 0px 0px 0px 10px;
	position: unset; 
	right: 0;
	top: 25px;
	width: 21px;
	height: 20px;
	padding: 0;
	margin-left: 15px;
	position: relative;
	display: inline-block;
}
.customize-screen-options-toggle:hover,
.customize-screen-options-toggle:active,
.customize-screen-options-toggle:focus {
	color: #e3f2fd;
}
#customize-controls .customize-info .customize-help-toggle:hover,
#customize-controls .customize-info .customize-help-toggle:active {
	color: #e3f2fd;
}
#customize-controls .customize-info.open.active-menu-screen-options .customize-help-toggle {
	color: #e3f2fd;
}
#customize-controls .customize-info .customize-help-toggle:hover, 
#customize-controls .customize-info.open .customize-help-toggle {
	color: #e3f2fd;
}
.customize-screen-options-toggle:before {
	-moz-osx-font-smoothing: grayscale;
	border: none;
	content: "\f111";
	display: block;
	font: 18px/1 dashicons;
	padding: 0px;
	text-align: center;
	text-decoration: none!important;
	text-indent: 0;
	left: 6px;
	position: unset;
	top: 6px;
}
.wp-customizer #screen-options-wrap {
	display: none;
	background: #fff;
	border-top: 1px solid #dcdcde;
	padding: 4px 15px 15px;
	text-align: left;
}
.no-widget-areas-rendered-notice {
	font-style: italic;
	text-align: left;
}
#customize-controls .customize-info .customize-help-toggle {
	top: 12px;
	right: 12px;
	padding: 0px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	box-shadow: none;
	-webkit-appearance: none;
	background: 0 0;
	color: #e3f2fd;
	border: none;
	float: left;
	display: inline-block;
}
.customize-pane-child .panel-meta.customize-info .customize-help-toggle {
	top: 0px !important;
	right: 0px !important;
}
#customize-controls .customize-info .customize-help-toggle:before {
	position: unset;
	top: 0px;
	left: 0px;
	padding: 0px;
}
#customize-theme-controls .control-panel-themes {
	border-bottom: none;
	margin: 0px 15px;
}
#customize-controls .customize-info.is-in-view, #customize-controls .customize-section-title.is-in-view {
	position: sticky;
	z-index: 9;
	width: 100%;
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
}
.customize-panel-back:before, .customize-section-back:before {
    font: normal 20px/72px dashicons;
    content: "\f341";
    position: relative;
    left: 9px;
}
/* RADIANTTHEMES CUSTOMIZER */